.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: #000000;
    grid-row: 1/2;
}

.main {
    grid-row: 2/3;
}

.header__inner {
    max-width: 1400px;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.header__logo,
.header__form,
.header__item {
    width: calc(100% / 3);
}


.header__logo--item {
    text-decoration: none;
}

.header__logo--item img {
    display: inline-block;
    width: 100%;
    max-width: 80%;
    height: auto;
}

.search-form {
    width: 90%;
    margin: 0 auto;
}

.search-form input {
    width: 100%;
    height: 80%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #000000;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
}


.header__item--nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__wrap {
    width: 100%;
}

.nav__wrap a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    line-height: 40px;
}

.logout-form__button--submit {
    appearance: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
}


.screen-transition {
    color: #FFFFFF;
}

.screen-transition__sell {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 25px;
}

/* レスポンシブ対応 */
@media screen and (max-width:890px) {
    .header__inner {
        min-height: 60px;
    }

    .search-form input {
        font-size: 18px;
    }

    .logout-form__button--submit,
    .nav__wrap a {
        font-size: 18px;
    }

}

@media screen and (max-width:850px) {
    .search-form input {
        font-size: 16px;
    }

    .logout-form__button--submit,
    .nav__wrap a {
        font-size: 16px;
    }

}

@media screen and (max-width:767px) {
    .header__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .search-form input {
        font-size: 12px;
    }

    .logout-form__button--submit,
    .nav__wrap a {
        font-size: 12px;
    }

    .header__logo,
    .header__form,
    .header__item {
        height: calc(100% / 3);
    }

    .screen-transition__sell {
        padding: 3px 7px;
        margin-left: 5px;
    }
}