.email-verificatio-form__wrap {
    max-width: 1400px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.email-verificatio-form__form {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.email-verificatio-form__notice {
    font-weight: 700;
    font-size: clamp(16px, 1.7vw, 24px);
    color: #000;
}

.email-verificatio-form__button--submit {
    appearance: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #D9D9D9;
    font-weight: 700;
    font-size: clamp(16px, 1.7vw, 24px);
    padding: 5px 20px;
    white-space: nowrap;
}

/* 何タグか不明なため不必要箇所コメントアウト中 */
.email-verificatio-form__resend-email {
    /* appearance: none;
    text-decoration: none;
    cursor: pointer; */
    color: #0073CC;
    font-weight: 400;
    font-size: clamp(12px, 1.4vw, 20px);
}